<div class="row">
  <div class="col-12">
    <form>
      <div class="mb-3">
        <label for="taskDate" class="form-label">Event Date</label>
        <input type="date" class="form-control" id="taskDate">
      </div>
      <div class="mb-3">
        <label for="taskContent" class="form-label">Describe Event</label>
        <textarea class="form-control" id="taskContent" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Add Task</button>
      </div>
    </form>
  </div>
</div>
