<div class="row">
  <div class="col-12">
    <form [formGroup]="formGroup" (ngSubmit)="onAddTask()">
      <div class="mb-3">
        <label for="taskDate" class="form-label">Event Date</label>
        <input type="date" class="form-control" id="taskDate" formControlName="taskDate">
      </div>
      <div class="mb-3">
        <label for="taskContent" class="form-label">Describe Event</label>
        <textarea class="form-control" id="taskContent" rows="3" formControlName="taskContent"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">Add new Task</button>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" (click)="onBack()">Back</button>
      </div>
    </form>
  </div>
</div>
