<div class="row h-100 d-flex justify-content-center align-items-center">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 layer1">
        <div class="row headerRow">
            <div class="col-12">
              <app-header></app-header>
            </div>
        </div>
        <div class="row taskListRow">
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row addTaskRow">
            <div class="col-12 h-100 d-flex justify-content-center p-2">
              <app-add-task-button></app-add-task-button>
            </div>
        </div>
    </div>
</div>
